<p id="notice"><%= notice %></p>

<p>
  <b>Creator:</b>
  <%= @document.creator %>
</p>

<p>
  <b>Name:</b>
  <%= @document.name %>
</p>

<p>
  <b>Num pages:</b>
  <%= @document.num_pages %>
</p>

<p>
  <b>Date:</b>
  <%= @document.date %>
</p>


<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
